@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

table {
    margin: auto;
    margin-top: 80px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(71, 71, 71, 0.877);
    border-spacing: 0px;
    border-collapse: separate;
    column-gap: 5px;
}



#header > tr > th:nth-of-type(2){
    background-color: #42c2d5;
    
    border: 1.5px solid #3d9aa8;
    
}

#header > tr > th:nth-of-type(3){
    background-color: #4eba9a;
    border: 1.5px solid #538b6f;
}
#header > tr > th:nth-of-type(4) {
    background-color: #f36a5f;
    border: 1.5px solid#b3503f;
    height: 40px;
    column-gap: 5px;
}

#header > tr:nth-of-type(1) > th:nth-of-type(4) {
    height: 40px;
}


#header > tr > th:nth-of-type(5){
    background-color: #384550;
    border: 1.5px solid#202427;
}

#body > tr > td:nth-of-type(1)  { /*first column*/
    border-bottom: 2px solid rgba(133, 133, 133, 0.233);
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: end;
    padding-right: 30px;
    font-size: small;
    color: rgba(71, 71, 71, 0.877);
    background-color: white;
    
}

#header > tr:nth-of-type(1) > th {
    color: white;
    height: 30px;
    font-weight: 200;
    
}

#header > tr:nth-of-type(2) > th {
    height: 90px;
    color: white;
    font-weight: 700;
    font-size: x-large;
    
}


#body > tr > td:nth-of-type(2) , td:nth-of-type(3) , td:nth-of-type(4) , td:nth-of-type(5)     {
    border-bottom: 2px solid rgba(133, 133, 133, 0.233);
    border-left: .2px solid rgba(128, 128, 128, 0.274);
    border-right: .2px solid rgba(128, 128, 128, 0.24);
    width: 200px;
    
    
}

#body > tr > td:nth-of-type(2), td:nth-of-type(3), td:nth-of-type(4), td:nth-of-type(5){
    background-color: rgba(220, 231, 233, 0.24);
    font-size: small;
    
}

#body > tr > td:nth-of-type(4) { /*10 projects column*/
    background-color: rgba(220, 231, 233, 0.822);
}

#body > tr > td:nth-of-type(8) {
    border-bottom: none;
}

#body > tr:nth-of-type(9) > td {
    height: 50px;
}
